VITE_HF_TOKEN=
VITE_QWEN_API_KEY=
# Mapbox Token (Optional: For Global Footprint Map)
VITE_MAPBOX_TOKEN=
VITE_MAPBOX_STYLE=mapbox/streets-v11

# AMap Key (Optional: For Location Picker)
VITE_AMAP_KEY=
VITE_AMAP_SECURITY_CODE=